# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# mypy
.mypy_cache/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
